In [14]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
# PCA - Principle Component Analysis
# we want to run multiple data preprocessing steps in data so we are
# importing some preprocessing modules.(PCA is one of the preprocesing module.)

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [15]:
os.getcwd()

'C:\\Users\\Prasa\\OneDrive\\Documents'

In [16]:
os.chdir("C:\\Users\\Prasa\\OneDrive\\Documents")

In [17]:
df1 = pd.read_csv("diabetes.csv")

In [18]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6139,6139,3067,1531,10,101,76,48,180,32.9,0.171,63,0
6140,6140,3068,1532,2,122,70,27,0,36.8,0.340,27,0
6141,6141,3069,1533,5,121,72,23,112,26.2,0.245,30,0
6142,6142,3070,1534,1,126,60,0,0,30.1,0.349,47,1
6143,6143,3071,1535,1,93,70,31,0,30.4,0.315,23,0

In [19]:
df1.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1"],axis="columns",inplace=True)

In [20]:
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6144 entries, 0 to 6143
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               6144 non-null   int64
 1   Glucose                   6144 non-null   int64
 2   BloodPressure             6144 non-null   int64
 3   SkinThickness             6144 non-null   int64
 4   Insulin                   6144 non-null   int64
 5   BMI                       6144 non-null   float64
 6   DiabetesPedigreeFunction  6144 non-null   float64
 7   Age                       6144 non-null   int64
 8   Outcome                   6144 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 432.1 KB

In [43]:
df1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,6144.000000,6144.000000,6144.000000,6144.000000,6144.000000,6144.000000,6144.000000,6144.000000,6144.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.367658,31.954396,19.344776,15.943126,115.178323,7.879667,0.331140,11.753529,0.476680
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [21]:
x_train,x_test,y_train,y_test = train_test_split(df1.iloc[:,[0,1,2,3,4,5,6,7]],df1.iloc[:,[8]],test_size=0.2,random_state=1)

## creating Pipeline

In [22]:
## creating pipeline for logistic regression, Decision tree, Random forest models.
# steps for pipeline:
# 1. Data preprocessing using Minmaxscalar
# 2. Reducing Dimensionality using PCA
# 3. Traning respective models

In [24]:
# logistic regression Pipeline...
LR_pipeline = Pipeline([('myscalar',MinMaxScaler()),# scaling
                       ('mypca',PCA(n_components=3)),# runs a principle component analysis on data of num of components is 3. 
                       ('logistic_classifier',LogisticRegression())])

In [44]:
# Decision tree pipeline...
DT_pipeline = Pipeline([('myscalar',MinMaxScaler()),
                       ('mypca',PCA(n_components=3)),
                       ('Decisiontree_classifier',DecisionTreeClassifier())])

In [45]:
# Random forest pipeline...
RF_pipeline = Pipeline([('myscalar',MinMaxScaler()),
                       ('mypca',PCA(n_components=3)), 
                       ('Randomforest_classifier',RandomForestClassifier())])

## model training and validation.

In [27]:
my_pipeline = [LR_pipeline,DT_pipeline,RF_pipeline]
# defining the pipelines in a list...

In [29]:
# defining a variables for choosing best model...
accuracy = 0
classifier = 0
pipeline=""

In [30]:
# creating dictionary of pipelines  and training models...
pipeline_dict = {0:"Logistic Regression", 1:"Decision Tree", 2:"Random forest"}

In [37]:
# fit the pipelines
for mypipe in my_pipeline:
    mypipe.fit(x_train,y_train)

C:\Users\Prasa\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Prasa\anaconda3\lib\site-packages\sklearn\pipeline.py:382: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

In [38]:
# getting test accuracy for the classifiers

for i,model in enumerate(my_pipeline):
    print("{} test_accuracy: {}".format(pipeline_dict[i],model.score(x_test,y_test)))

Logistic Regression test_accuracy: 0.7298616761594793
Decision Tree test_accuracy: 1.0
Random forest test_accuracy: 1.0

In [36]:
# choosing the best model 

for i,model in enumerate(my_pipeline):
    if model.score(x_test,y_test)>accuracy:
        accuracy = model.score(x_test,y_test)
        pipeline = model
        classifier = i
        
print("clssifier with best accuracy:{}".format(pipeline_dict[classifier]))

clssifier with best accuracy:Decision Tree